@use '@angular/material' as mat;

@mixin styledButton {
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  background: mat.get-color-from-palette(mat.$light-blue-palette, 50);
  border: 0;
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: mat.get-color-from-palette(mat.$light-blue-palette, 700);
  &:not(:disabled){
    &:hover {
      background: mat.get-color-from-palette(mat.$light-blue-palette, 100);
    }
    &:active {
      background: mat.get-color-from-palette(mat.$light-blue-palette, 200);
    }
  }
  &:disabled{
    background: mat.get-color-from-palette(mat.$gray-palette, 100);
    color: mat.get-color-from-palette(mat.$gray-palette, 800);
  }
}

@mixin a5-styling{
  position: relative;
  page-break-inside: avoid;
  border: 0.1rem darkgray solid;
  padding-right: 1rem;
  aspect-ratio: 148/209;
  box-shadow: rgba(black, 0.1) 0.25rem 0.25rem 0.75rem;
  border-radius: 0.25rem;

  @media print{
    border: 0;
    box-shadow: initial;
  }
}
