<div class="a5-page-container"
     [ngStyle]="{
  width: width+'vw',
  fontSize: fontSize+'px'
  }"
     (resized)="onPageResize($event)">
    <div class="toc-header" [style.font-size]="fontSize*1.5+'px'" *ngIf="recipes.length > 0">Inhoudsopgave</div>
    <div class="toc-body">
        <div class="toc-entry" *ngFor="let recipe of recipes; index as i">
            <div class="toc-entry__title">{{recipe.title}}</div>
            <div class="toc-entry__page-number">{{startRecipeIndex + i + 1}}</div>
            <div class="toc-entry__tags">{{recipe.tags?.join(', ')}}</div>
        </div>
    </div>
</div>
