mat-dialog-actions{
  display: flex;
  justify-content: flex-end;
}

.content-container{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.ingredient-sublist{
  mat-divider{
    margin: 1.5rem 0;
  }

  &__header{
    display: flex;
    gap: 0.5rem;
    mat-form-field{
      width: 100%;
    }
  }

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .ingredient {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    &__amount{
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type=number] {
        -moz-appearance: textfield;
      }

      width: 5rem;
    }

    &__controls{
      display: flex;
      &__insert{
        display: flex;
        flex-direction: column;
        button{
          display: flex;
          height: 1.5rem;
        }
      }
    }
  }
}
