<div class="zoom-controls">
  <div class="sticky-container">
    <button [disabled]="(recipeWidth >= 50 && doublePage) || (recipeWidth >= 100)" (click)="zoomInRecipe()">
      <ng-icon name="heroMagnifyingGlassPlus"></ng-icon>
    </button>
    <button [disabled]="recipeWidth <= 20" (click)="zoomOutRecipe()">
      <ng-icon name="heroMagnifyingGlassMinus"></ng-icon>
    </button>
    <button (click)="doublePageToggle()">
      <ng-icon name="heroBookOpen"></ng-icon>
    </button>
  </div>
</div>
<div class="container">
  <div class="content">
    <app-recipe-page
      [recipe]="recipe"
      [width]="recipeWidth"
    ></app-recipe-page>
    <app-recipe-page *ngIf="doublePage"
                     [width]="recipeWidth"
    ></app-recipe-page>
  </div>
  <div class="footer">
    <button mat-button color="primary" (click)="recipe=initRecipe()">New recipe</button>
    <button mat-button color="primary">Edit recipe</button>
    <button mat-button color="primary">Load from disk</button>
    <button mat-button color="primary">Save to disk</button>
    <button mat-button color="primary" (click)="printRecipe()">Print</button>
  </div>
</div>
