<div class="zoom-controls">
  <button (click)="zoomInRecipe()"><ng-icon name="heroMagnifyingGlassPlus"></ng-icon></button>
  <button (click)="zoomOutRecipe()"><ng-icon name="heroMagnifyingGlassMinus"></ng-icon></button>
</div>
<div class="container">
<div class="content">
  <app-recipe-page
    [recipe]="recipe"
    [width]="recipeWidth"
  ></app-recipe-page>
</div>
<div class="footer">
  <button>New recipe</button>
  <button>Edit recipe</button>
  <button>Load from disk</button>
  <button>Save to disk</button>
  <button>Print</button>
</div>
</div>
