<div class="zoom-controls">
  <div class="sticky-container">
    <button [disabled]="(recipeWidth >= 50 && doublePage) || (recipeWidth >= 100)" (click)="zoomInRecipe()">
      <ng-icon name="heroMagnifyingGlassPlus"></ng-icon>
    </button>
    <button [disabled]="recipeWidth <= 20" (click)="zoomOutRecipe()">
      <ng-icon name="heroMagnifyingGlassMinus"></ng-icon>
    </button>
    <button (click)="doublePageToggle()">
      <ng-icon name="heroBookOpen"></ng-icon>
    </button>
    <button (click)="showTableOfContents()">
      <ng-icon name="heroQueueList"></ng-icon>
    </button>
    <div class="arrow-navigation">
      <button [disabled]="activeRecipeIndex <= 0" (click)="activeRecipeIndex = activeRecipeIndex-1">
        <ng-icon name="heroArrowLeft"></ng-icon>
      </button>
      <button [disabled]="activeRecipeIndex + 1 >= recipes.length" (click)="activeRecipeIndex = activeRecipeIndex+1">
        <ng-icon name="heroArrowRight"></ng-icon>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="sidebar">
    <div cdkDropList class="recipe-list" (cdkDropListDropped)="drop($event)">
      <div class="recipe-list__header">
        <mat-form-field class="cookbook-title" appearance="outline">
          <mat-label>Kookboek titel</mat-label>
          <input [spellcheck]="true" [formControl]="cookbookTitle" matInput placeholder="Kookboek titel">
        </mat-form-field>
        <div class="recipe-list__header__title-row">
        <div class="title">Recepten</div>
        <button class="sort-button" (click)="sortRecipes()">
          <ng-icon name="heroRectangleStack"/>
        </button>
        </div>
      </div>
      <div class="recipe-list__row"
           [class.active]="i==activeRecipeIndex"
           (click)="this.activeRecipeIndex=i"
           *ngFor="let recipe of recipes; index as i"
           cdkDrag>
        {{recipe.title ? recipe.title : 'Untitled Recipe'}}
        <button (click)="deleteRecipe(i)" mat-icon-button>X</button>
      </div>
    </div>
  </div>

  <div class="content">
    <ng-container *ngIf="!printing">
      <app-table-of-contents-page *ngIf="(doublePage && this.activeRecipeIndex === 0) || (this.activeRecipeIndex < 0)"
                                  [width]="recipeWidth"/>
      <app-recipe-page *ngIf="this.activeRecipeIndex >= 0"
                       [recipe]="this.recipes[this.activeRecipeIndex]"
                       [pageIndex]="this.recipes.indexOf(this.recipes[this.activeRecipeIndex]) + recipeIndexOffset"
                       (pageClicked)="activeRecipeIndex = activeRecipeIndex > 0 ? activeRecipeIndex - 1 : activeRecipeIndex"
                       [width]="recipeWidth"
      ></app-recipe-page>
      <app-recipe-page *ngIf="doublePage && this.activeRecipeIndex !== 0"
                       [recipe]="this.activeRecipeIndex+1 < this.recipes.length ? this.recipes[this.activeRecipeIndex+1] : undefined"
                       [pageIndex]="this.recipes.indexOf(this.recipes[this.activeRecipeIndex+1]) + recipeIndexOffset"
                       (pageClicked)="activeRecipeIndex = activeRecipeIndex < recipes.length-1 ? activeRecipeIndex + 1 : activeRecipeIndex"
                       [width]="recipeWidth"
      ></app-recipe-page>
    </ng-container>
    <ng-container *ngIf="printing">
      <div class="print-row">
        <app-table-of-contents-page [width]="49"/>
        <app-recipe-page
          [recipe]="recipes[0]"
          [width]="49"
        ></app-recipe-page>
      </div>
      <ng-container *ngFor="let recipe of (recipes | slice:1); let i = index; let even = even">
        <ng-container *ngIf="even">
          <div class="print-row">
            <app-recipe-page
              [recipe]="recipes[i+1]"
              [width]="49"
            ></app-recipe-page>
            <app-recipe-page
              [recipe]="recipes[i+2]"
              [width]="49"
            ></app-recipe-page>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div class="footer">
    <button mat-button color="primary" (click)="initRecipe()">New recipe</button>
    <button mat-button color="primary" (click)="fileUpload.click()">
      Load from disk
    </button>
    <input [(ngModel)]="selectedRecipes" (change)="updateCurrentRecipe($event)" #fileUpload type="file" multiple
           placeholder="-">
    <button mat-button color="primary" (click)="downloadURI()">Save to disk</button>
    <button mat-button color="primary" (click)="printRecipe()">Print RecipeBook</button>
  </div>
</div>
