.a5-page-container {
  position: relative;
  width: 50rem;
  border: 0.1rem darkgray solid;
  aspect-ratio: 148/210;
  padding: 0.5rem;
  box-shadow: rgba(black, 0.1) 0.25rem 0.25rem 0.75rem;
  border-radius: 0.25rem;

  display: grid;
  grid-template-rows: 10rem auto 10rem;
  grid-template-columns: 1fr 2fr;

  .header{
    z-index: 1;
    grid-area: 1/1/1/3;
    margin: 1rem;
    padding: 1rem;
    background: black;
    color: white;
    display: grid;
    .title{
      grid-row: 1;
      grid-column: 1/span 2;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-family: "Georgia", serif;
      font-weight: 600;
      font-size: 2rem;
    }
    .time{
      grid-row: 2;
      grid-column: 1;
      display: flex;
      flex-direction: column;
    }
    .tags{
      grid-row: 2;
      grid-column: 2;
      text-align: end;
      margin-top: auto;
    }
  }
  .chefs-notes{
    z-index: 1;
    grid-area: 3/1/3/3;
    padding: 1rem;
    margin: auto 1rem 1rem;
    background: lightgray;
    position: relative;
    width: 75%;
    height: 4rem;

    &__content {
      z-index: 1;
      position: relative;
    }
    &__background{
      z-index: -1;
      right: 1rem;
      bottom: 1rem;
      color: white;
      font-family: "Georgia", serif;
      font-weight: 600;
      font-size: 2rem;
      position: absolute;
    }
  }
  .ingredients{
    grid-area: 2/1/2/1;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .ingredient-sublist{
      &__title{
        font-weight: bolder;
        font-size: 1.25rem;
        font-family: "Georgia", serif;
      }
    }
  }
  .steps{
    grid-area: 2/2/2/2;
    margin: 1rem 1rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .ingredient-background{
    background: darkgray;
    grid-area: 1/1/4/1;
  }
  .step-background{
    grid-area: 1/2/4/2;
    .gray-bar{
      background: darkgray;
      height: 100%;
      width: 1rem;
      margin-left: 1rem;
    }
  }
}
